<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">
  <img src="assets/logo_light.png" width="50" height="50" class="d-inline-block align-center mr-3" alt="">
    Seedlink
  </a>
  <button class="navbar-toggler navbar-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse navbar-right" id="navbarSupportedContent">
    <ul class="navbar-nav navbar-right ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/sign-up">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/settings">Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/keynet">KeyNet</a>
      </li>
    </ul>
  </div>
</nav>
