@import "./bootstrap/bootstrap.scss";

.bg-water {
  background-color: $water;
}

.content {
  padding-top: 76px; // Start content below nav-bar
}

.text-red {
  color: $red;
}

.text-water {
  color: $water;
}

.interface-key:hover {
  background-color: $splash;
}
